* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* - */

::selection {
  background-color: var(--c-light-green);
  color: var(--c-white);
}

::-webkit-scrollbar {
  height: calc(50px / 8);
  width: calc(50px / 8);
}

::-webkit-scrollbar-track { background-color: var(--c-light-gray); }
::-webkit-scrollbar-thumb { background-color: var(--c-light-green); }

/* - */

html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

html { scroll-behavior: smooth; }

b,
strong { font-weight: 600; }

body {
  color: var(--c-dark-gray);
  font-family: var(--ff-regular);
  font-size: var(--fs-base);
  line-height: 1.5;
  overflow-x: hidden;
}

body.-loading { overflow: hidden; }

a {
  color: inherit;
  display: flex;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

fieldset { border: none; }
form { width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;

  &.-light-green { color: var(--c-light-green); }
  &.-red { color: var(--c-red); }
}

img {
  display: block;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}

input {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--c-dark-gray);
  border-radius: 0;
  color: inherit;
  font: inherit;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-overflow: ellipsis;
  transition: border-color var(--transition);
}

input.-rounded {
  border: 1px solid var(--c-dark-gray);
  border-radius: 999px;
  padding: 0 calc(50px / 2);
}

input:focus {
  border-color: var(--c-light-green);
  outline: none;
}

input:focus::placeholder { opacity: var(--opacity); }

input::placeholder {
  color: inherit;
  transition: opacity var(--transition);
}

section { padding: 50px 0; }

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-position: right calc(50px / 2) center;
  background-repeat: no-repeat;
  background-size: calc(50px / 3);
  border: 1px solid var(--c-dark-gray);
  border-radius: 999px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  height: 50px;
  width: 100%;
  padding: 0 calc(50px / 2);
  transition: background-image var(--transition), border-color var(--transition);
}

select:focus {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' style='transform: rotate(180deg)' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  border-color: var(--c-light-green);
  outline: none;
}

textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--c-dark-gray);
  border-radius: calc(50px / 2);
  color: inherit;
  font: inherit;
  width: 100%;
  padding: calc(50px / 2);
  resize: none;
  transition: border-color var(--transition);
}

textarea.-rounded { border-radius: 999px; }

textarea:focus {
  border-color: var(--c-light-green);
  outline: none;
}

ul { list-style: none; }

/* - */

.-container,
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1632px;
}

.-full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.-gap {
  display: flex;
  flex-direction: column;
  gap: calc(50px / 3);
}

.-gradient {
  background-image: linear-gradient(
    45deg,
    hsl(208deg 60% 50%) 0%,
    hsl(200deg 100% 40%) 8%,
    hsl(198deg 100% 39%) 17%,
    hsl(196deg 100% 38%) 25%,
    hsl(193deg 100% 36%) 33%,
    hsl(188deg 100% 33%) 42%,
    hsl(183deg 100% 30%) 50%,
    hsl(175deg 100% 29%) 58%,
    hsl(168deg 100% 29%) 67%,
    hsl(159deg 100% 29%) 75%,
    hsl(151deg 100% 28%) 83%,
    hsl(125deg 52% 37%) 92%,
    hsl(95deg 64% 33%) 100%
  );
}

.-gradient * { color: var(--c-white); }
.-gradient .-icon { fill: var(--c-white); }
.-hidden { display: none; }

.-icon {
  height: calc(50px / 3);
  width: calc(50px / 3);
  transition: fill var(--transition);
}

.-loader {
  animation: spin 1s linear infinite;
  border: 1px solid var(--c-white);
  border-top: 1px solid var(--c-dark-green);
  border-radius: 50%;
  height: calc(50px / 3);
  width: calc(50px / 3);
}

.-underline { text-decoration: underline; }

/* - */

.checkbox { display: flex; }

.checkbox .input:checked + .label .-circle::after {
  background-color: var(--c-light-green);
  left: auto;
  right: 2px;
}

.checkbox .input:checked + .label .-square {
  background-color: var(--c-light-green);
  border-color: var(--c-light-green);
}

.checkbox .input:checked + .label .-square::after { opacity: 1; }

.checkbox .label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: calc(50px / 8);
  transition: color var(--transition);
}

.checkbox .-square {
  align-items: center;
  border: 1px solid var(--c-dark-gray);
  display: flex;
  height: calc(50px / 3);
  width: calc(50px / 3);
  justify-content: center;
  position: relative;
  transition: background-color var(--transition), border-color var(--transition);
}

.checkbox .-square::after {
  border-bottom: 1px solid var(--c-white);
  border-right: 1px solid var(--c-white);
  content: "";
  height: calc(50px / 6);
  width: calc(50px / 10);
  opacity: 0;
  margin-top: -2px;
  transform: rotate(45deg);
  transition: opacity var(--transition);
}

.checkbox .-circle {
  border: 1px solid;
  border-radius: calc(50px / 3);
  height: calc(50px / 3);
  width: 32px;
  position: relative;
  transition: border-color var(--transition);
}

.checkbox .-circle::after {
  background-color: var(--c-lighten-gray);
  border-radius: 50%;
  content: "";
  height: calc(50px / 3 - 6px);
  width: calc(50px / 3 - 6px);
  left: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line {
  background-color: var(--c-light-green);
  content: "";
  height: 1px;
  width: 75%;
  margin: 0 auto;
}

.menu-wrapper {
  align-items: flex-start;
  display: none;
  // display: flex;
  flex-direction: column;
  gap: calc(50px / 10);
  left: 0;
  margin: calc(50px / 10);
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu-wrapper.-open .button.-circles { flex-direction: row; }

.menu-wrapper.-open .menu {
  opacity: 1;
  visibility: visible;
}

.button.-circles {
  display: flex;
  flex-direction: column;
  gap: calc(50px / 14);
  padding: calc(50px / 10);
}

.button.-circles .circle {
  background-color: var(--c-dark-green);
  border-radius: 50%;
  height: calc(50px / 10);
  width: calc(50px / 10);
}

.menu {
  background-color: var(--c-lighten-green);
  border: 1px solid var(--c-dark-green);
  min-width: 125px;
  opacity: 0;
  transition: opacity var(--transition), visibility var(--transition);
  visibility: hidden;
}

.menu .item:not(:last-of-type) { border-bottom: 1px solid var(--c-dark-green); }

.menu .anchor {
  font-size: var(--fs-small);
  justify-content: center;
  padding: calc(50px / 10);
}

/* - */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}