:root {
  --ff-regular: 'Poppins', sans-serif;
  
  --fs-base: 12px;
  --fs-small: 10px;
  --fs-smaller: 8px;

  --c-white: #fff;
  --c-black: #000;

  --c-red: #ed6b63;
  --c-yellow: #f3dc71;

  --c-light-gray: #c4c4c4;
  --c-lighten-gray: #e1e1e1;
  --c-dark-gray: #3f3f3f;

  --c-light-green: #7fca26;
  --c-lighten-green: #fafcfb;
  --c-lighten-highlight-green: #a6e042;
  --c-dark-green: #4c8b1e;

  --c-light-blue: #46bed9;
  --c-dark-blue: #3384cb;

  --opacity: .6;
  --transition: .35s;
}